body {
    background-color: rgb(138, 43, 226, .75);
    color: white;
}

h1 {
    text-align: center;
    text-decoration: underline rgb(90, 5, 90);
    margin-bottom: 5%;
}


a {
    text-decoration: none;
    float: right;
    margin-right: 2%;
    color: white;
    border: solid rgb(90, 5, 90);
    padding: 1%;
}

.containsBegin {
    text-align: center;
}

#begin {
    padding: 1%;
    margin: 0 auto;
}

#time {
    border: solid rgb(90, 5, 90);
    width: 13%;
    text-align: center;
    margin-left: 6%;
}

#questions {
    text-align: center;
}

#choices {
    text-align: center;
}

#end {
    text-align: center;
}